<div class="buttons">
    <button id="btc" class="button-correct" (click)="responder(true)">Certo</button>
    <button id="bte" class="button-wrong" (click)="responder(false)">Errado</button>
</div>
<div class="container">
    <div class="score" style="color: #4758b8;">
        Acertou: {{service.pontuacao}}
    </div>
    <div class="score2" style="color: #c13a31;">
        Errou: {{erradas}}
    </div>
    <div class="question" *ngIf="questao">{{questao.enunciado}}</div>
</div>
<div class="logo" *ngIf="questoesVistas.size == 0 || service.encerrada">
    <img src="/assets/logo_siacc.png" >
</div>